body{
    margin: 0;
    padding: 0;
    background-color: #343a40;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

header{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #51ab57eb;
}


#number-cart{
   position: absolute;
   margin-left: 26px;
   margin-bottom: 30px;
   padding: 0 4px;
   background-color: rgb(126, 48, 209);
   border-radius: 100%;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

nav img{
    padding-top: 6px;
}

.header-link{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 800;
}

.header-link:hover{
    color: rgb(126, 48, 209);
}

#container-frutas img{
    border-radius: 10px;
    width: 180px;
    height: 120px;
}

#container-frutas{
    margin: 80px 0;
    justify-content: center;
    text-align: center;
    gap: 40px;
    display: flex;
}


.frutas{
    padding: 20px;
    border-radius: 15px;
    transition: .8s;
    cursor: default;
}

.frutas:hover{
   background-color: #272829;

}


.frutas button{
    font-size: 17px;
}

.preco{
    font-weight: 800;
}


.add-fruta{
    padding: 5px;
    border-radius: 15px;
    color: white;
    background-color: #25ca30;
    font-size: 17px;
    margin: 10px auto;
    width: 150px;
    text-decoration: none;
    display: block;
}

.add-fruta:hover{
    background-color: #23842a;
    cursor: pointer;
}

.container-qtd{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 20px;
}

.h1-login{
    cursor: pointer;
    width: fit-content;
    margin: 100px auto;
    margin-bottom: 25px;
}

.h1-login:hover{
    color: rgb(126, 48, 209);
}

form{
    display: block;
    cursor: default;
    text-align: center;
    background-color: #2728294f;
    width: fit-content;
    margin: auto;
    padding: 10px 60px;
    border-radius: 10px;
}

form input {
    font-size: 16px;
    height: 20px;
    width: 150px;
    border-radius: 5px;
}

form h2{
    margin-block-end: 0.40em;
    margin-block-start: 0.90em;
}

.button{
    margin: 30px auto;
    display: block;
    font-size: 17px;
    border-radius: 5px;
    padding: 10px;
    background-color: #25ca30;
    color: white;
    width: fit-content;
    text-decoration: none;
    font-weight: 800;
}

.button:hover{
    background-color: #1f8726;
}

@media (max-width: 830px) {
    #container-frutas{
        flex-direction: column;
    }

    .frutas button{
        font-size: 20px;
    }

    .frutas:hover{
        background-color: #343a40;
     
    }
}


@media (max-width: 380px) {
    header{
        padding: 20px 3%;
    }

    nav {
        gap: 10px;
    }
}
